---
layout: default
---
      <h1><a href="/">{{ page.title }}</a></h1>

    <aside class="date-published">

      {{ page.date || date_to_string }}
      <br>
      <a href="mailto:marco.ricard@gmail.com">Marc-Olivier Ricard</a>
      <br>
      <a href="https://github.com/ricardmo"><img src="/images/github.png" alt="github"></img></a>
    </aside>

          {{ content }}
    <footer id="pager">
          {% if page.previous.title %}
          <a href="{{ page.previous.url }}">( {{ page.previous.title }} ) < Previous </a>
          {% endif %}

          {% if page.next.title %}
          <a href="{{ page.next.url }}"> Next > ( {{ page.next.title }} )</a>
          {% endif %}
          </footer>
